NeoBundle.lock

.emacs.d/ac-comphist.dat
.emacs.d/.cask
.emacs.d/elpa
.emacs.d/auto-save-list
.emacs.d/kkcrc
.emacs.d/tramp
.emacs.d/smex-items
.emacs.d/eshell/history
.emacs.d/projectile-bookmarks.eld
.emacs.d/eshell/
.emacs.d/tutorial/

.claude/settings.json
.claude/settings.local.json