NeoBundle.lock

# ignore neobundle packages and dot files.
# (equals to add _emacs.d directory)
/[a-zA-Z0-9\.]*/

# _emacs.d
_emacs.d/ac-comphist.dat
_emacs.d/.cask
_emacs.d/elpa
_emacs.d/auto-save-list
_emacs.d/kkcrc
_emacs.d/tramp
